.Available{
    border: solid blue 2px;
    margin: 2px;
}
.Completed{
    border: solid green 2px;
    margin: 2px;
}
.container {
    height: 250px;
}

.container .box_A,
.container .box_B {
    margin: 2px;
    width: 50%;
    overflow: hidden;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.box_A {
    border: solid blue 2px;
}
.box_B {
    border: solid green 2px;
}