.Available {
  border: solid blue 2px;
  margin: 2px;
  padding: 4px;
}
.Completed {
  border: solid green 2px;
  margin: 2px;
  padding: 4px;
}
.container1 {
  height: 250px;
  display: flex;
  /* margin: auto; */
  /* display: inline-block; */
}

.container1 .box_A,
.container1 .box_B {
  margin: 2px;
}
.btn {
  margin: 2px;
}

.box_A {
  border: solid blue 2px;
  padding: 4px;
  flex: 0 0 50%;
}
.box_B {
  border: solid green 2px;
  padding: 4px;
  flex: 1;
}
